@using GestaoDeEquipamentosWeb.ConsoleApp.Models;


@{
    Layout = "_Layout";
    ViewBag.Titulo = "Listagem de Fabricantes";
}

@model List<ListarFabricantesViewModel>;

<a class="btn-cadastrar" asp-action="Cadastrar">Cadastrar Novo</a>

<table class="registros">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ListarFabricantesViewModel f in Model)
        {
            <tr>
                <td>@f.Id</td>
                <td>@f.Nome</td>
                <td>@f.Email</td>
                <td>@f.Telefone</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@f.Id">Editar</a>
                    <a asp-action="Excluir" asp-route-id="@f.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
