@using GestaoDeEquipamentosWeb.ConsoleApp.Models;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Listagem de Equipamentos";
}
@model List<ListarEquipamentosViewModel>

<a class="btn-cadastrar" asp-action="Cadastrar">Cadastrar Novo</a>

<table class="registros">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço de Aquisição</th>
            <th>Data de Fabricação</th>
            <th>Fabricante</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ListarEquipamentosViewModel e in Model)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Nome</td>
                <td>@e.PrecoAquisicao.ToString("C2")</td>
                <td>@e.DataFabricacao.ToShortDateString()</td>
                <td>@e.Fabricante</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@e.Id">Editar</a>
                    <a asp-action="Excluir" asp-route-id="@e.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
