@using GestaoDeEquipamentosWeb.ConsoleApp.Models;


@{
    Layout = "_Layout";
    ViewBag.Titulo = "Listagem de Chamados";
}

@model List<ListarChamadoViewModel>

<a class="btn-cadastrar" asp-action="Cadastrar">Cadastrar Novo</a>

@if (Model.Count == 0)
{
    <p class="formulario-alerta">Nenhum chamado cadastrado.</p>
}
else
{
    <table class="registros">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Equipamento</th>
                <th>Data de Abertura</th>
                <th>Tempo Decorrido</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ListarChamadoViewModel c in Model)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@c.Titulo</td>
                    <td>@c.Equipamento</td>
                    <td>@c.DataAbertura.ToString("dd/MM/yyyy")</td>
                    <td>@c.TempoDecorrido dia(s)</td>
                    <td>@(c.EstaConcluido ? "Concluído" : "Aberto")</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@c.Id">Editar</a> 
                        <a asp-action="Excluir" asp-route-id="@c.Id">Excluir</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
}
